<div class="row">
  <div class="col s6">
    <div class="card grey lighten-2">
      <div class="card-content black-text crime-card">
        <span class="card-title">{{#link-to 'players.player' model.player.id}}Player: {{model.name}}{{/link-to}}</span>
        <hr>
        <h5>Encounter: {{model.encounter}}</h5>
        <p>Arrest Stats ID: {{model.arrestStatsId}}</p>
        <p>Date: {{model.year}}-{{model.month}}-{{model.day}}</p>
        <p>Team: {{model.team}}</p>
        <p>Team Name: {{model.teamName}}</p>
        <p> Team City{{model.teamCity}}</p>
        {{!-- <p>Player Name: {{#link-to 'players.player' model.playerId}}{{model.name}}{{/link-to}}</p> --}}
        <p>Position: {{model.position}}</p>
        <p>Catagory: {{model.category}}</p>
        <p> Description: {{model.description}}</p>
        <p>Outcome: {{model.outcome}}</p>
      </div>
      <div class="">

      </div>
    </div>
  </div>
</div>
