<div class="card-content white-text team-card">
  <span class="card-title">{{model.teamName}}</span>
  <p>Team Code: {{model.team}}</p>
  <p>City: {{model.teamCity}}</p>
  <p>Arrest count: {{model.arrestCount}}</p>
  <hr>
  <h6>Associated Players:</h6>
  <ul>
    {{#each model.players as |player|}}
      <li>{{player.name}}</li>
    {{/each}}
  </ul>
</div>
<div class="card-action">

</div>
