<div class="row">
  <div class="col s6">
    <div class="card grey lighten-2">
      <div class="card-content black-text player-card">
        <span class="card-title">{{model.name}}</span>
        <div class="">
          <p>Team: {{model.lastArrestAssociatedTeam}}</p>
          <p>Team Name: {{model.lastArrestAssociatedTeamName}}</p>
          <p>Position: {{model.lastArrestAssociatedPosition}}</p>
          <p>Arrest Count: {{model.arrestCount}}</p>
        </div>
        <hr>
        <h6>----Teams:----</h6>
        <ul>
          {{#each model.teams as |team|}}
            <li>{{team.teamName}}</li>
          {{/each}}
        </ul>
        <h6>----Crimes:----</h6>
        <ul class="">
          {{#each model.crimes as |crime index|}}
            <li class="">Category: {{crime.category}}</li>
          {{/each}}
        </ul>
      </div>

    </div>
  </div>
</div>
